<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='build/css/plans.css')}}">
  
  <title>Planes</title>
</head>

<body>
  <h4>Plans</h4>
  <div class="tablabasic">
    <h2>Basic</h2>
    <h3>Your current plan</h3>
    <h3 id="tiempo">282 mins left</h5>
    <h3 id="dias">Minutes reset in 28 days</h5>
    <!-- <h5 id="primerh5">AI meeting assistant records and transcribes in real time</h5>
    <h5>Joins Zoom, MS Teams, and Google Meet to automatically write and share notes</h5>
    <h5>Automatically captures slides and generates meeting summaries</h5>
    <h5>300 monthly transcription minutes; 30 minutes per conversation; Import and transcribe 3* audio or video files
      lifetime</h5> -->
    <ul id="ulbasic">
      <li id="item">AI meeting assistant records and transcribes in real time</li>
      <li id="item">Joins Zoom, MS Teams, and Google Meet to automatically write and share notes</li>
      <li id="item">Automatically captures slides and generates meeting summaries</li>
      <li id="item">300 monthly transcription minutes; 30 minutes per conversation; Import and transcribe 3* audio or video files
        lifetime</li>
    </ul>
    <p></p>
  </div>
  <div class="contenedor">
    
    <div class="tabla">
      <h2>Pro</h2>
      <h3>For individuals and small teams who need more minutes and features</h3>
      <h2 id="precio">$10 USD</h2>
      <h3 id="userMonth">/user/month</h3>
      <h3 id="userMonth">billed annually</h3>
      <a href="/card" class="boton">Buy Now</a>
      <!-- <h5>Everything in Basic +</h5>
      <h5>Add teammates to your workspace (maximum of 5 paid seats)</h5>
      <h5>Team features: shared custom vocabulary; tag speakers; assign action items to teammates</h5>
      <h5>Advanced search, export, and playback</h5>
      <h5>1200 monthly transcription minutes; 90 minutes per conversation</h5>
      <h5>Import and transcribe 10* audio or video files per month</h5> -->
      <ul>
        <li id="item">Everything in Basic +</li>
        <li id="item">Add teammates to your workspace (maximum of 5 paid seats)</li>
        <li id="item">Team features: shared custom vocabulary; tag speakers; assign action items to teammates</li>
        <li id="item">Advanced search, export, and playback</li>
        <li id="item">1200 monthly transcription minutes; 90 minutes per conversation</li>
        <li id="item">Import and transcribe 10* audio or video files per month</li>
      </ul>

    </div>
    <div class="tabla">
      <h2>Business</h2>
      <h3>For small teams and organizations that need to share & collaborate</h3>
      <h2 id="precio">$20 USD</h2>
      <h3 id="userMonth">/user/month</h3>
      <h3 id="userMonth">billed annually</h3>
      <a href="/cardBusiness" class="boton">Buy Now</a>
      <!-- <h5>Everything in Pro +</h5>
      <h5>Team features: shared custom vocabulary and speakers, assign action items to teammates</h5>
      <h5>Joins virtual meetings when you are triple booked</h5>
      <h5>Admin features: usage analytics, centralized billing, prioritized support</h5>
      <h5>6000 monthly transcription minutes; 4 hours per conversation</h5>
      <h5>Import and transcribe unlimited* audio or video files per month</h5> -->
      <ul>
        <li id="item">Everything in Pro +</li>
        <li id="item">Team features: shared custom vocabulary and speakers, assign action items to teammates</li>
        <li id="item">TJoins virtual meetings when you are triple booked</li>
        <li id="item">Admin features: usage analytics, centralized billing, prioritized support</li>
        <li id="item">6000 monthly transcription minutes; 4 hours per conversation</li>
        <li id="item">Import and transcribe unlimited* audio or video files per month</li>
      </ul>

    </div>
    <div class="tabla">
      <h2>Basico</h2>
      <h3>For large organizations that need additional security, control, and support</h3>
      <a href="" class="boton" id="enterprise">Contact Sales</a>
      <!-- <h5>Everything in Business +</h5>
      <h5>Single Sign-On (SSO)</h5>
      <h5>Organization-wide deployment</h5>
      <h5>Domain capture</h5>
      <h5>Advanced security and compliance controls</h5> -->
      <ul>
        <li id="item">Everything in Business +</li>
        <li id="item">Single Sign-On (SSO)</li>
        <li id="item">Organization-wide deployment</li>
        <li id="item">Domain capture</li>
        <li id="item">Advanced security and compliance controls</li>
      </ul>
    </div>
    <!-- <div class="tablabasic">
      <h2>Basic</h2>
      <h3>Your current plan</h3>
      <h5 id="tiempo">282 mins left</h5>
      <h5 id="dias">Minutes reset in 28 days</h5>
      <h5 id="primerh5">AI meeting assistant records and transcribes in real time</h5>
      <h5>Joins Zoom, MS Teams, and Google Meet to automatically write and share notes</h5>
      <h5>Automatically captures slides and generates meeting summaries</h5>
      <h5>300 monthly transcription minutes; 30 minutes per conversation; Import and transcribe 3* audio or video files
        lifetime</h5>
      <p></p>
    </div> -->
  </div>
</body>

</html>